body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header,
footer {
    padding-left: 13%;
    padding-right: 13%;
}

.info-imgs, 
aside {
    padding-left: 20%;
    padding-right: 20%;
}

header,
.info-imgs {
    padding-bottom: 150px;
}

aside,
.sign-section{
    padding-top: 100px;
    padding-bottom: 100px;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 75px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 20px;
    font-weight: 600;
    padding: 6px 32px;
    border-radius: 8px;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 0;
}

.header-left p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 5px;
}

.header-left,
.header-right {
    width: 47%;
}

.header-button {
    border: none;
}

.header-right {
    height: 100%;
    flex-shrink: 0;
}

.info-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section figcaption {
    color: #9fa1a3;
}

h4 {
    width: 100vw;
    flex: 1, 0, auto;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

/* TODO: prob make separate containers for h2 and figures*/
.info-imgs figure {
    width: 15%;
    margin: 0;
    margin-right: 5%;
    text-align: center;
}

figure img {
    border: 4px solid #3882F6;
    border-radius: 12px;
    width: 100%;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: #E5E7EB;
}

aside article {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

aside p {
    font-size: 18px;
    font-weight: 600;
    color: #1F2937;
}

.sign-section {
    padding-left: 12%;
    padding-right: 12%;
}

.sign-up {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    flex-shrink: 0;
    height: 175px;
    color: #F9FAF8;
    border-radius: 15px;
}

.sign-text {
    display: flex;
    flex-direction: column;
}

.sign-text p {
    margin: 0;
    margin-bottom: 10px;
}

.call {
    font-size: 24px;
    font-weight: 700;
}

.call-text {
    color: #E5E7EB;
}

.call-button {
    border-style: solid;
    border-color: #F9FAF8;
    color: #F9FAF8;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #1F2937;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}