body {
    display: flex;
    flex-direction: column;
}

header,
section,
aside,
footer {
    padding-left: 13%;
    padding-right: 13%;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

header section {
    display: flex;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-left p {
    font-size: 18px;
    color: #E5E7EB;
}

.info-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section figcaption {
    color: #9fa1a3;
}

h4 {
    width: 100vw;
    flex: 1, 0, auto;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}


aside {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}

aside article {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.sign-up {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}